*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1919;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}
